/* header start */
/* @font-face{
	font-family: georgian;
	src:url("../fonts/arial-geo-webfont.ttf");
}

*{
    font-family: georgian;
    
} */
.navbar{
    padding: 50px;
    height: 100px;
    background-color: #cee9ea;
    
}
.navbar-right button{
    background-color: transparent;
    border: 1px solid  #396ae6ce;
    border-radius: 8px;
    color: #396ae6ce;
    padding: 10px;
}

.navbar-right button:hover{
    background-color:#396ae6ce;
    color:white;
    transition: 1s;
}

.logo img{
    width: 100px;
    
}

.nav-link {
    color: #396ae6ce !important;
    font-size: 18px;
   

}



/* bgPhoto */
.bgPhoto{
    background-image: url("images/bg-one.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgPhotoText{
    padding-top: 200px;
}

.bgPhotoText h1,h3{
padding:20px;
color:white;
}

/* bgphoto modal box */

.whiteDeskInBgPhoto{
    margin: auto;
    width: 600px;
    height:200px;
    background-color: white;
    border-radius: 15px;
    padding-top: 30px;
}

.whiteDeskInBgPhoto h4{
    font-weight: bold;
}

.whiteDeskInBgPhoto p{
    padding-top: 20px;
}

.btn-primary{
    background-color: black !important;
    text:white !important;
    border: none !important;
    box-shadow: none !important;
 
}

.btn-primary button:hover{
    text:#E5B962 !important;
}


/* modalboxform */
.modal-content{
    border-radius: 30px !important;
    background-color: black !important ;
    
}
.modal-header{
    border:none !important;
}

.two-buttons button:hover{
    color:#E5B962;
}

.two-buttons{
    display: flex;
    justify-content: space-evenly;
    
}



/* input */

.form-control{
    background-color: black !important;
    border:none !important;
    border-bottom: 2px solid white !important; 
    box-shadow: none !important;
    color: white !important;
    
}

/* input */

.modal-body button{
    background-color: transparent;
    border: 1px solid  #E5B962;
    border-radius: 8px;
    color: white;
    padding: 10px;
    justify-content: flex-start;
}

.modal-body{
    padding-bottom:2rem !important;
    border-radius: 15px !important;
}

.modal-body button:hover{
    background-color:#E5B962;
    color: black;
    transition: 1s;

}

.modal-button-div{
    padding-top: 1rem;
    
}



/* footer start */
footer{
    background-color:#cee9ea ;
}
.footer-contact-number{
    color: white;
}

.footer-1p{
    color:rgba(185, 172, 159, 0.45);
}

.footer-2p{
    color: white;
}

.footer-icons img{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-navbar a{
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    /* color: #396ae6ce; */
}
.footer-contact p{
    color: #396ae6ce ;
}


/* .footer-contact {
    display: block;
    
    
} */

